@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: 'Open Sans', sans-serif;
}

html {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;
}

/*!--СЕКЦИЯ 1--start--!*/

.section_1 {
	width: 100%;
	background: linear-gradient(
		177.86deg,
		#000000 -41.81%,
		rgba(0, 0, 0, 0.0001) 82.48%
	);
}

.background_picture {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 900px;
	overflow: hidden;
}

.background_img {
	width: 100%;
}

.main_container {
	position: relative;
}

.content_section_1 {
	width: 100%;
	margin: 0 auto;
}

.navigation_container {
	display: flex;
	justify-content: space-between;
	padding-top: 80px;
	margin-left: 50%;
	margin-right: 10%;
}

.navigation_link {
	font-family: 'Oswald', sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	letter-spacing: 1.94px;
	text-decoration: none;
	transition: 0.2s linear;
	position: relative;
}

.navigation_link:hover {
	color: #fff;
}

.navigation_link::before {
	content: '';
	bottom: 0;
	left: 0;
	position: absolute;
	width: 20%;
	height: 2px;
	transition: width 0.4s ease-in-out;
	background: #4caf50;
}

.navigation_link:hover::before {
	width: 95%;
}

.line_navigation_link {
	width: 20px;
}

.title_section_1 {
	color: #ffffff;
	font-weight: 500;
	font-size: 72px;
	text-align: center;
	letter-spacing: 4.608px;
	margin-top: 300px;
}

.text_section_1 {
	color: #ffffff;
	font-size: 20px;
	font-weight: 300;
	line-height: 23px;
	text-align: center;
	letter-spacing: 1.28px;
	margin-top: 40px;
}

.calendar {
	display: flex;
	justify-content: space-between;
	margin-top: 270px;
	margin-left: 45%;
	margin-right: 45%;
}

.number_1 {
	color: #ffffff;
	font-weight: 700;
	font-size: 36px;
	line-height: 53px;
	letter-spacing: 2.304px;
	text-decoration: line-through #4caf50;
}

.number {
	font-weight: 700;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 1.152px;
	color: rgba(255, 255, 255, 0.437245);
	padding-top: 20px;
}

/*!--СЕКЦИЯ 1--end--!*/

/*!--СЕКЦИЯ 2--start--!*/

.section_2 {
	width: 100%;
	background-color: #ffffff;
}

.content_section_2 {
	width: 100%;
	margin: 0 auto;
}

.main_block_2 {
	width: 850px;
	height: 550px;
	position: relative;
	margin-top: 175px;
	left: 30%;
	margin-bottom: 115px;
}

.block_2__1 {
	position: relative;
	width: 309px;
	height: 391px;
	float: right;
	top: 29%;
	background: #f4f4f4;
	margin-right: 200px;
}

.picture_2__2 {
	width: 100%;
}

.text_block_2__1 {
	position: absolute;
	top: 65%;
	left: 80%;
	display: flex;
}

.t_b_2__1 {
	width: 280px;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 1.26px;
	color: #5b5858;
}

.line_2__1 {
	width: 20px;
	border-top: 2px solid #252525;
	margin-right: 10px;
	margin-top: 15px;
}

.block_color_2 {
	position: absolute;
	width: 309px;
	height: 418px;
	top: -106px;
	left: -75%;
	background: #4caf50;
	opacity: 0.8;
}

.block_2__2 {
	width: 309px;
	height: 391px;
	position: absolute;
	left: -13%;
	top: -15px;
	background-color: #f4f4f4;
	opacity: 1;
}

.picture_2__1 {
	width: 100%;
}

.text_block_2__2 {
	position: absolute;
	top: 30px;
	left: -30%;
}

.title_block_2__2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 53px;
	text-align: start;
	letter-spacing: 2.304px;
	color: #333333;
}

.under_title_block_2__2 {
	font-weight: 300;
	font-size: 42px;
	line-height: 49px;
	display: flex;
	letter-spacing: 2.688px;
	color: #504e4e;
}

.str_2__1 {
	display: flex;
	padding-top: 30px;
}

.line_2__2 {
	width: 20px;
	border-top: 2px solid #252525;
	margin-right: 10px;
	margin-top: 15px;
}

.t_b_2__2 {
	width: 280px;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 1.26px;
	color: #5b5858;
}

/*!--СЕКЦИЯ 2--end--!*/

/*!--СЕКЦИЯ 3--start--!*/

.section_3 {
	width: 100%;
	background-color: #fbfbfb;
}

.content_section_3 {
	width: 100%;
	margin: 0 auto;
}

.title_section_3 {
	margin-top: 129px;
	margin-left: 4%;
}

.name_section_3 {
	color: #252525;
	font-weight: 700;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 3.072px;
}

.underline_title_3 {
	width: 45px;
	border-bottom: 2px solid #252525;
}

.container_services {
	margin-top: 85px;
	display: flex;
	justify-content: space-between;
	margin-left: 4%;
	margin-right: 4%;
	padding-bottom: 136px;
}

.service {
	width: 31%;
	height: 260px;
	background-color: #ffffff;
	transition: 0.2s linear;
}

.service .picture_3__2:hover {
	opacity: 1;
}

.str_3 {
	display: flex;
	justify-content: space-between;
}

.title_service {
	padding-top: 50px;
	padding-left: 44px;
}

.name_service {
	color: #252525;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 1.28px;
}

.underline_title_service {
	width: 35px;
	border-bottom: 2px solid #252525;
}

.logo_service {
	position: relative;
}

.picture_3__2 {
	position: absolute;
	top: 35%;
	left: 35%;
	opacity: 0.3;
	cursor: pointer;
}

.text_service {
	font-size: 12px;
	line-height: 25px;
	align-items: center;
	letter-spacing: 1.008px;
	color: #777777;
	padding: 19px 49px 19px 43px;
}

.link_service {
	color: #252525;
	mix-blend-mode: normal;
	opacity: 0.5;
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 10px;
	line-height: 15px;
	letter-spacing: 0.64px;
	padding: 0 0 35px 44px;
	text-decoration: none;
	transition: 0s linear;
}

.link_service:hover {
	color: #252525;
}

/*!--СЕКЦИЯ 3--end--!*/

/*!--СЕКЦИЯ 4--start--!*/

.section_4 {
	width: 100%;
	background-color: #ffffff;
}

.content_section_4 {
	width: 100%;
	margin: 0 auto;
}

.title_section_4 {
	margin-top: 200px;
	margin-left: 4%;
}

.name_section_4 {
	color: #252525;
	font-weight: 700;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 3.072px;
}

.underline_title_4 {
	width: 45px;
	border-bottom: 2px solid #252525;
}

.links_section_4 {
	display: flex;
	justify-content: space-between;
	margin-left: 4%;
	padding-right: 50%;
	padding-top: 50px;
}

.link_4_m {
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.832px;
	color: #252525;
	opacity: 0.3;
	text-decoration: none;
	transition: 0.1s linear;
}

.link_4_m:hover {
	color: #252525;
	opacity: 1;
}

.link_4 {
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.832px;
	color: #252525;
	mix-blend-mode: normal;
	opacity: 0.3;
	text-decoration: none;
	transition: 0.1s linear;
}

.link_4:hover {
	color: #252525;
	opacity: 1;
}

.work_r_container {
	width: 600px;
	height: 560px;
	float: right;
	position: relative;
	top: -200px;
}

.work_l_container {
	width: 600px;
	height: 560px;
	position: relative;
	margin-top: 150px;
	margin-left: 4%;
}

.work_r {
	float: right;
}

.title_work_r {
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 3.072px;
	color: #252525;
	width: 50%;
	position: absolute;
	top: 45%;
	left: -27%;
}

.title_work_r__2 {
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 3.072px;
	color: #252525;
	width: 70%;
	position: absolute;
	top: 45%;
	left: -27%;
}

.title_work_l {
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 3.072px;
	color: #252525;
	width: 50%;
	position: absolute;
	top: 50%;
	left: 60%;
}

.title_work_l__2 {
	font-family: 'Oswald';
	font-weight: 300;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 3.072px;
	color: #252525;
	width: 40%;
	position: absolute;
	top: 50%;
	left: 60%;
}

.picture_work {
	width: 455px;
	height: 444px;
	overflow: hidden;
	background: #f3f4f6;
}

.img_work {
	width: 100%;
}

.figcaption_work_r {
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 1.152px;
	color: #252525;
	padding-top: 25px;
	padding-left: 45%;
	padding-right: 28%;
}

.figcaption_work_l {
	width: 455px;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 1.152px;
	color: #252525;
	padding-top: 25px;
	padding-left: 27%;
	padding-right: 28%;
}

.text_work_r {
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 0.832px;
	color: #c2c2c2;
	text-align: right;
	padding-top: 20px;
	width: 330px;
}

.text_work_l {
	font-size: 13px;
	line-height: 23px;
	letter-spacing: 0.832px;
	color: #c2c2c2;
	text-align: left;
	padding-top: 20px;
	width: 330px;
	margin-left: 27%;
}

.main_link_4 {
	margin-bottom: 175px;
	font-family: 'Oswald';
	font-weight: 400;
	font-size: 13px;
	line-height: 19px;
	letter-spacing: 2px;
	color: #252525;
	float: right;
	text-decoration: none;
	transition: 0s linear;
}

.main_link_4:hover {
	color: #252525;
	text-decoration: none;
}

/*!--СЕКЦИЯ 4--end--!*/

/*!--СЕКЦИЯ 5--start--!*/

.section_5 {
	width: 100%;
	background-color: #fbfbfb;
}

.content_section_5 {
	width: 100%;
	margin: 0 auto;
}

.title_section_5 {
	margin-top: 130px;
	margin-left: 4%;
}

.name_section_5 {
	color: #252525;
	font-weight: 700;
	font-size: 48px;
	line-height: 71px;
	letter-spacing: 3.072px;
}

.underline_title_5 {
	width: 45px;
	border-bottom: 2px solid #252525;
}

.team_container {
	margin-top: 65px;
	display: flex;
	justify-content: space-between;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 170px;
}

.creator {
	width: 31.5%;
	height: 400px;
	position: relative;
}

.picture_creator {
	width: 100%;
}

.img_creator {
	width: 100%;
}

.title_creator {
	top: 88%;
	position: absolute;
	width: 100%;
	height: 55px;
	background: #ffffff;
	opacity: 0.5;
}

.name_creator {
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 1.152px;
	color: #252525;
	text-align: center;
	padding-top: 13px;
	position: absolute;
	left: 40%;
	top: 86%;
}

.name_creator_m {
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 1.152px;
	color: #252525;
	text-align: center;
	padding-top: 13px;
}

.title_creator_m {
	top: 63%;
	position: absolute;
	width: 100%;
	height: 155px;
	background: #ffffff;
	opacity: 0.92;
}

.under_title_creator_m {
	width: 45px;
	border-bottom: 2px solid #252525;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.status_creator {
	font-weight: 300;
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	letter-spacing: 1.152px;
	color: #252525;
}

.message_director {
	text-align: center;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	letter-spacing: 1.008px;
	color: #777777;
}

/*!--СЕКЦИЯ 5--end--!*/

/*!--СЕКЦИЯ 6--start--!*/

.section_6 {
	width: 100%;
	background-color: #ffffff;
}

.content_section_6 {
	width: 100%;
	margin: 0 auto;
}

.text_review {
	margin-top: 115px;
	font-size: 14px;
	line-height: 31px;
	text-align: center;
	letter-spacing: 0.896px;
	color: #373737;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.number_review {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.author_review {
	display: flex;
	justify-content: center;
}

.name_author {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 1.152px;
	color: #373737;
}

.symbol_autor {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	letter-spacing: 1.152px;
	color: #b8b8b8;
	padding-left: 5px;
	padding-right: 5px;
}

.status_autor {
	font-weight: 400;
	font-size: 12px;
	line-height: 27px;
	letter-spacing: 1.152px;
	color: #b8b8b8;
}

.rating_review {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 45%;
	margin-right: 45%;
}

.swg_6__2 {
	width: 15px;
	height: 15px;
}

.swg_6__2_l {
	width: 15px;
	height: 15px;
	opacity: 0.2;
}

.underline_review {
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 115px;
}

/*!--СЕКЦИЯ 6--end--!*/

/*!--СЕКЦИЯ 7--start--!*/

.section_7 {
	width: 100%;
	background: linear-gradient(to right, #fbfbfb 50%, #70bd59 50%);
}

.content_section_7 {
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.block_7__1 {
	width: 50%;
}

.block_7__2 {
	width: 50%;
}

.swg_7__1 {
	margin-left: 19%;
	margin-right: 80%;
	padding-top: 70px;
	padding-bottom: 20px;
}

.swg_7__2 {
	margin-left: 80%;
	margin-right: 19%;
	padding-top: 70px;
	padding-bottom: 20px;
}

.question_block_7__1 {
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 2.66667px;
	color: #373737;
}

.text_block_7__1 {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1.55556px;
	color: #373737;
	opacity: 0.8;
	padding-top: 20px;
	padding-bottom: 100px;
}

.question_block_7__2 {
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 2.66667px;
	color: #ffffff;
	float: right;
	padding-right: 8%;
	padding-bottom: 10px;
}

.text_block_7__2 {
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1.55556px;
	color: #ffffff;
	opacity: 0.8;
	padding-left: 75%;
	padding-top: 65px;
	padding-bottom: 100px;
	padding-right: 8%;
}

/*!--СЕКЦИЯ 7--end--!*/

/*!--СЕКЦИЯ 8--start--!*/

.section_8 {
	width: 100%;
	background-color: #2e2e2e;
}

.content_section_8 {
	width: 100%;
	margin: 0 auto;
}

.text_section_8__1 {
	font-weight: 300;
	font-size: 13px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	letter-spacing: 0.832px;
	color: #ffffff;
	opacity: 0.5;
	padding-top: 140px;
}

.text_section_8 {
	font-weight: 300;
	font-size: 13px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	letter-spacing: 0.832px;
	color: #ffffff;
	opacity: 0.5;
}

.social_links {
	padding-top: 40px;
	padding-bottom: 80px;
	display: flex;
	justify-content: space-between;
	margin-left: 44%;
	margin-right: 44%;
}

/*!--СЕКЦИЯ 8--end--!*/

/*!--ПОДВАЛ САЙТА--start--!*/

.footer_site {
	width: 100%;
	background-color: #252525;
}

.content_footer {
	width: 100%;
	margin: 0 auto;
}

.text_footer {
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 300;
	font-size: 13px;
	line-height: 19px;
	display: flex;
	justify-content: center;
	letter-spacing: 0.832px;
	color: #ffffff;
	opacity: 0.5;
}

/*!--ПОДВАЛ САЙТА--end--!*/
