@media screen and (min-width: 1600px) and (max-width: 1800px) {
	/*!--Секция 1--start--!*/

	.title_section_1 {
		margin-top: 200px;
	}

	/*!--Секция 1--end--!*/
}

@media screen and (min-width: 1300px) and (max-width: 1599px) {
	/*!--Секция 1--start--!*/

	.navigation_container {
		padding-top: 40px;
	}

	.title_section_1 {
		font-weight: 500;
		font-size: 64px;
		margin-top: 175px;
	}

	.text_section_1 {
		margin-top: 20px;
	}

	.calendar {
		margin-top: 22%;
	}

	/*!--Секция 1--end--!*/

	.text_block_2__1 {
		position: absolute;
		top: 65%;
		left: 70%;
		display: flex;
	}

	/*!--Секция 7--start--!*/

	.text_block_7__2 {
		padding-left: 70%;
	}

	.question_block_7__2 {
		padding-right: 11%;
	}

	.swg_7__2 {
		margin-left: 75%;
		margin-right: 19%;
		padding-top: 70px;
		padding-bottom: 20px;
	}

	/*!--Секция 7--end--!*/
}
